.page-content {
  margin-top: 70px;       /* ارتفاع Navbar */
  margin-left: 250px;     /* عرض Sidebar در دسکتاپ */
  padding: 1.5rem;
}

@media (max-width: 991px) {
  .page-content {
    margin-left: 0;
  }
}
