.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efefef;
  overflow-y: auto;
  z-index: 1060;
}
.humberger {
  background: #d0d1d2;
}

/* تیتر بالا */
.text-purple {
  color: #6f42c1;
}

/* دکمه Add New Task */
.btn-add-task {
  background-color: #9b5de5;
  border: none;
  padding: 10px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  color: white;
}

.btn-add-task:hover {
  background-color: #864bdc;
  color: white;
}

/* لینک‌ها */
.link-item {
  color: #444;
  padding: 10px 16px;
  border-radius: 0 12px 12px 0;
  text-decoration: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.link-item:hover {
  background-color: #f1f1f1;
  color: #dc3545;
}

.link-item.active {
  background-color: #ffe6e6;
  border-right: 4px solid #dc3545;
  border-radius: 0;
  color: #dc3545;
}

/* آکاردئون directories */
.directories {
  background-color: #efefef !important;
}

.button-new {
  display: block;
  width: 100%;
  padding: 6px;
  border: 2px dashed #ccc;
  background-color: transparent;
  border-radius: 12px;
  color: #555;
  font-size: 0.95rem;
  text-align: center;
  transition: border 0.2s;
  cursor: pointer;
}

.button-new:hover {
  border-color: #6f42c1;
  color: #6f42c1;
}

.accordion-button {
  padding: 10px 16px;
  font-size: 0.95rem;
  background-color: transparent !important;
  color: #6f42c1;
  font-weight: 500;
  border-radius: 12px;
}

.accordion-button:not(.collapsed) {
  background-color: #f5f0ff !important;
  color: #6f42c1;
}

.directory-link {
  color: #444;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 4px;
}

.directory-link:hover {
  background-color: #f1f1f1;
  color: #dc3545;
}

.directory-link.active {
  background-color: #ffe6e6;
  border-right: 4px solid #dc3545;
  border-radius: 0;
  color: #dc3545;
}

.dir-actions {
  display: none;
  align-items: center;
}

.directory-link:hover .dir-actions {
  display: flex;
}

.icon-action {
  color: #888;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.2s;
}

.icon-action:hover {
  color: #6f42c1;
}
